<% include ./partials/header %>

    <!-- HELP DATA

    customerNo: Number,
    customerName:String,
    customerAdd:String,
    customerPhone:String,
    created:{type:Date,default:Date.now},
-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#"><img src="/logo.png" style="height:25px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">محصولات <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">درباره ما</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/authenticate">ورود</a></li>
                    <li><a href="/authenticate/new">ثبت نام</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-group" action="/customer/<%=data._id%>?_method=PUT" method="POST">
                    <input class="form-control" style="margin-bottom:5px" type="text" name="data[customerNo]" placeholder="تلفن مشتری" value="<%=data.customerNo %>"> 
                    <input class="form-control" style="margin-bottom:5px" type="text" name="data[username]" placeholder="کد مشتری" value="<%=data.username %>">
                    <input class="form-control" style="margin-bottom:5px" type="text" name="data[customerName]" placeholder="نام مشتری" value="<%=data.customerName %>">
                    <input class="form-control" style="margin-bottom:5px" type="text" name="data[customerAdd]" placeholder="آدرس مشتری" value="<%=data.customerAdd %>">
                    <input class="form-control" style="margin-bottom:5px" type="text" name="data[customerPhone]" placeholder="تلفن مشتری" value="<%=data.customerPhone %>">
                    <input class="form-control btn btn-success" type="submit">
                </form>
                <a href="/customer">فهرست اصلی</a>
            </div>
        </div>

        <% include ./partials/footer.ejs %>
