<% include ./partials/header %>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#"><img src="/logo.png" style="height:25px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">محصولات <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">درباره ما</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/authenticate">ورود</a></li>
                    <li><a href="/authenticate/new">ثبت نام</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr class="bg-primary">
                            <td>شماره مشتری</td>
                            <td>نام عبور</td>
                            <td>نام مشتری</td>
                            <td>آدرس مشتری</td>
                            <td>تلفن مشتری</td>
                        </tr>
                    </thead>

                    <!-- HELP DATA

    customerNo: Number,
    customerName:String,
    customerAdd:String,
    customerPhone:String,
    created:{type:Date,default:Date.now},
-->

                    <tbody>
                        <tr>
                            <td class="persianumber">
                                <%=data.customerNo%>
                            </td>
                            <td class="persianumber">
                                <%=data.username%>
                            </td>
                            <td class="persianumber">
                                <%=data.customerName%>
                            </td>
                            <td class="persianumber">
                                <%=data.customerAdd%>
                            </td>
                            <td class="persianumber">
                                <%=data.customerPhone%>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <form action="/customer/<%=data._id%>?_method=DELETE" method="POST" style="float:right">
                    <button class="btn btn-danger">حذف</button>
                </form>
                <form action="/customer/<%=data._id%>/edit" style="float:right; margin-right:5px;">
                    <button class="btn btn-warning">تغییر</button>
                </form>
                <form action="/invoice/<%=data._id%>/new" style="float:right; margin-right:5px;">
                    <button class="btn btn-success">فاکتور جدید</button>
                </form>
                <form action="/customer/invoice/<%=data._id%>" style="float:right; margin-right:5px;">
                    <button class="btn btn-info">فاکتورهای گذشته</button>
                </form>
                <form action="/customer" style="float:right;margin-right:5px;">
                    <button class="btn btn-default"><i class="fa fa-reply-all" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <% include ./partials/footer.ejs %>
